.home-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
.content{
    height: 500px;
    width: 50%;
    background-color: aqua;
}